<div class="home_wrap">
			<!-- 취소버튼 , 확인버튼 , 타이틀 표시 하는 영역 -->
			<header class="home_header">
				<div class="info_header">
					<p id="calendar_title">일정등록</p]><!-- 일정등록 -->
					<div class="menu_item_top_left">
						<a id="closeBtn"><span class="icn_close"></span></a>
					</div>
					<div class="menu_item_top_right">
						<a id="confirm"><span class="m_txt">확인</span></a> <!--  확인 -->
					</div>					
			    </div>
		    </header>
		    <!-- 캘린더를 등록하는 화면 -->
		    <div class="osf_add_content">
			<!-- 떼어서 쓸까 고민중 -->
		    	<form>
		    		<fieldset>
		    			<table class="tbl_calendar_write">
		    				<tbody>
		    					<tr>
		    						<th><span class="title"></span>
		    				</tbody>
		    			</table>
		    		</fieldset>
		    	</form>
			</div>
		</div>