<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/resources/css/openSFStyle.css" media="all">
 		<script type="text/javascript"src="/resources/js/vendor/backbone.js"></script>
 		<script type="text/javascript"src="/resources/js/vendor/require.js"></script>
 		<script type="text/javascript"src="/resources/js/vendor/jquery-3.6.0.js"></script>
	</head>
	<body>
		<div class="home_wrap">
			<header class="home_header">
				<div class="info_header">
					<span class="wrr_logo">
					<!-- 로고 -->
		      			<img src="/resources/images/icons8-salesforce-256.png" width="100px"height="100px"> 
				    </span>
				    <!-- 이름 -->
				    <p><span class="info_header_user_name"></span> 
			    </div>
		    </header>
		    <div class="wrrp_home_menu">
				<!-- <ul class="home">
					<li>
						<a href="#" class="m_img_wrrp">
							<span class="icn_home icn_home_calander"></span>
							<p class="m_txt">캘린더</p>
						</a>
					</li>
					<li>
						<a href="#" class="m_img_wrrp">
							<span class="icn_home icn_home_board"></span>
							<p class="m_txt">게시판</p>
						</a>
					</li>
				</ul> -->
			</div>
			<footer>
				<div class="corp_footer">ⓒOpenSalesForce 2022 </div>
			</footer>
		</div>
	</body>
</html>
